<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>encyclopedia of emotion</title>
    <link rel="stylesheet" href="../public/stylesheets/enclopedia.css">
</head>
<body>
    <div class = "head_container">
        <div class="header">
            <div class="icon" id="back" style="cursor: pointer"><img src="../public/images/back_icon.png" height="85" width="176"/></div>
        </div>
    </div>
    <div class = "hiddenScroll">
        <div class="contents_container" id="controller">
            <div class="contents">
                <div id="corey">In 1966, scholar Norman Cousins published a piece called “The Poet and the Computer.” Anticipating the computer revolution at his doorstep, Cousins makes a plea: do not allow our machines to dehumanize us. “The danger is not so much that [we] will be controlled by the computer as that [we] may imitate it.” Intimate and frequent communication with the machines may require us to conform our minds to their limited logics and cold calculations. To preserve and reinforce humanness, Cousins hypothesizes, “…it might be fruitful to effect some sort of junction between the computer technologist and the poet.”
                    <br>Corey S. Pressman</div>
                <div id="enclo">
                    The <div class="highlight">encyclopedia of emotion</div>&nbsp;is a collaboration between human and artificial intelligence. It’s a platform where both entities become more poetic towards each other.  As you give the corpus from either literature or by yourself, the robot will read, learn, and make its own metaphors or expressions on certain emotions. The aim is to reflect on ourselves, or even expand the way we use the language and to empahsize the importance of literature no matter whatsoever periodical changes we go through.
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../public/javascripts/back.js"></script>
<script type="text/javascript" src="../public/javascripts/scroll.js"></script>
</html>