<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encyclopedia Project</title>
    <link rel="stylesheet" href="../public/stylesheets/main.css">
</head>
<body>
    <div class="contents">
        <div class="landing" id="emotions" style="cursor: pointer">Encyclopedia of emotion</div>&nbsp;is for/made by both humans and artificial intelligence. It consists of four states of emotion. <div class="landing" id="joy" style="cursor: pointer">Joy</div>&nbsp;with <div class="counts" id="joy_count">0</div> corpora. <div class="landing" id="sadness" style="cursor: pointer">Sadness</div>&nbsp;with <div class="counts" id="sadness_count">0</div>&nbsp;corpora. <div class="landing" id="anger" style="cursor: pointer">Anger</div>&nbsp;with <div class="counts" id="anger_count">0</div>&nbsp;corpora. <div class="landing" id="surprise" style="cursor: pointer">Surprise</div>&nbsp;with <div class="counts" id="surprise_count">0</div>&nbsp;corpora.
    </div>
    <div class="footer">
        <div class="footer_contents_container">
            <div class="footer_contents" id="day">
                <div class="day_count">0</div> day
            </div>
            <div class="footer_contents">
                total corpora: <div class="counts" id="total_count">0</div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../public/javascripts/main_bundle.js"></script>
</html>